article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}body{margin:0;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;margin:0.67em 0;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:bold;}dfn{font-style:italic;}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace,serif;font-size:1em;}pre{white-space:pre-wrap;}q{quotes:"\201C" "\201D" "\2018" "\2019";}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-0.5em;}sub{bottom:-0.25em;}img{border:0;}svg:not(:root){overflow:hidden;}figure{margin:0;}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em;}legend{border:0;padding:0;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,select{text-transform:none;}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;}button[disabled],html input[disabled]{cursor:default;}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}
*,
*::after,
*::before {
	box-sizing: border-box;
}

html,
body {
	
	overflow-x: hidden;
}

body {
	--color-text: #000;
	--color-bg: #fff;
	--color-link: #d35066;
	--color-link-hover: #000;
	--color-info: #333;
	--color-menu: #031de6;
	--color-menu-hover: #000;
	--grid-columns: 4;
	--details-bg-up: #fff;
	--details-bg-down: #f5f0ef;
	--color-product-title: #000;
	--color-product-subtitle: #a09897;
	--color-details-title: #000;
	--color-details-subtitle: #000;
	--color-descr: #000;
	--color-price: var(--color-link);
	--color-bg-addtocart: #000;
	--color-addtocart: #fff;
	--color-close: #000;
	--color-bg-magnifier: #000;
	--color-magnifier: #fff;
	--color-btn-hover: #c1b3b1;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
	min-height: 100vh;
	color: #57585c;
	background-color: #eef0f0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/*a {
	text-decoration: none;
	color: #ffffff;
	outline: none;
}

a:hover,
a:focus {
	color: var(--color-link-hover);
	outline: none;
}
*/
button:focus {
	outline: none;
}

/* Page Loader */
.js .loading::before,
.js .loading::after {
	content: '';
	position: fixed;
	z-index: 100000;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #333;
}

.js .loading::after {
	background: url(../img/electric-guitar.svg) no-repeat 50% 50%;
	background-size: 5em;
	pointer-events: none;
	opacity: 0.1;
	animation: loaderAnim 1s linear infinite alternate forwards;
}

@keyframes loaderAnim {
	to {
		opacity: 1;
	}
}

.hidden {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	pointer-events: none;
}

/* Icons */
.icon {
	display: block;
	width: 1.5em;
	height: 1.5em;
	margin: 0 auto;
	fill: currentColor;
}

main {
	position: relative;
	width: 100%;
}

.content {
	position: relative;
	display: block;
}

/* Header */
.codrops-header {
	padding: 2em;
	position: relative;
	z-index: 100;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	align-items: center;
}

.codrops-header__title {
	font-size: 2em;
	font-weight: bold;
	margin: 0;
	padding: 0.75em 0;
}

.codrops-links {
	position: relative;
	display: flex;
	justify-content: center;
	text-align: center;
	white-space: nowrap;
}

.codrops-icon {
	display: inline-block;
	padding: 0.25em;
}

.info {
	color: var(--color-info);
	text-align: center;
}

.github {
	display: block;
}

.grid {

	margin-top: 5em;
	position: relative;
	padding-top: 0 1em;
	width: 100%;
	max-width: 1000px;
	display: grid;
	grid-template-columns: repeat(var(--grid-columns), 1fr);
}

.grid__item {
	
}

.grid__item:nth-child(odd) .product {
	margin-top: -6em;


}

.product {
	height: 100%;
	padding-top: 10em;
	position: relative;
	cursor: pointer;
}

.product__bg {
	height: 16em;
	width:20em;
	background: #f778ab;
	position: relative;
}


.product__bg .product__name1{
	padding-top:45%;
	padding-left:10%;
}
.product__img {
	max-height: 20em;
	margin: 0 auto;
	display: block;
	position: absolute;
	top: 0;
	left: 50%;
	pointer-events: none;
	transform: translate3d(-50%,0,0);
}

.product__title {
	position: relative;
	margin: 0.5em 0 0;
	font-size: 1.75em;
	color: var(--color-product-title);
	font-family: "Playfair Display", serif;
	font-weight: 700;
}

.product__subtitle {
	position: relative;
	margin: 0;
	text-transform: uppercase;
	color: var(--color-product-subtitle);
	font-size: 0.85em;
	letter-spacing: 0.115em;
}
.grid1 {
/*	margin: 10em auto 7em;
	position: relative;
	margin-right:5em;
	width: 100%;
	max-width: 1000px;
	display: grid;
	grid-template-columns: repeat(var(--grid-columns), 1fr 1fr 1fr 1fr );*/
	margin-top: 13em;
	margin-left: 3em;
	position: relative;
	width: 100%;
	max-width: 1000px;
	display: grid;
	
	grid-template-columns: repeat(var(--grid-columns), 1fr 1fr 1fr 1fr );
}
.grid__item1 {
	padding-right:3em;


}

.grid__item1:nth-child(1) .product1 {
	margin-top: -10em;
    padding-top: 53%;
}
.grid__item1:nth-child(2) .product1 {
	margin-top: -10em;
	padding-top:30%;
}
.grid__item1:nth-child(3) .product1 {
	margin-top: -13em;
	padding-top:30%;
}
.grid__item1:nth-child(4) .product1 {
	margin-top: -16em;
	padding-top:30%;
}

.grid__item2 {
	padding-left:3em;
}
.grid__item2:nth-child(1) .product1 {
	margin-top: -7em;
    padding-top: 30%;
}
.grid__item2:nth-child(2) .product1 {
	margin-top: -5em;
	padding-top:30%;
}
.grid__item2:nth-child(3) .product1 {
	margin-top: -3em;
	padding-top:30%;
}
.grid__item2:nth-child(4) .product1 {
	margin-top: -1em;
	padding-top:35%;
}
 .grid__item2 .learn_more{
	height:30px;
	top:5%;
	left:5%;
	background:#e80a63;
	color:#000000;

}
.product1 {
	height: 30%;
	padding-top: 8em;
	position: relative;
	cursor: pointer;
}

.product__bg1 {
	height: 13em;
	width:16em;
	background: #ffffff;
	position: relative;
	opacity: 1;
	border: 2px solid #373f4c;
	padding-bottom:10px;
}
.product__bg1 .product__name{
	padding-top:14%;
	padding-left:10%;
    color:#000000;
    text-align: left;
    letter-spacing: 1.3px;
    font-size: 13px;
    font-family: "Walkway Black",sans-serif;
    font-weight: 300;
     line-height: 15px;
}
.product__img1 {
	max-height: 7em;
	margin: 0 auto;
	display: block;
	position: absolute;
	top: 8%;
	left: 49%;
	pointer-events: none;
	transform: translate3d(-50%,0,0);
}


.product__title1 {
	position: relative;
	margin: 0.5em 0 0;
	font-size: 1em;
	color:#373f4c;
	 font-family: "Roboto",sans-serif;
	font-weight:600;
	padding-left:20px;
	text-transform: uppercase;
}

.product__subtitle1 {
	position: relative;
	margin: 0;
	text-transform: uppercase;
	color: var(--color-product-subtitle);
	font-size: 0.85em;
	letter-spacing: 0.115em;
}

/* Related demos */
.content--related {
	padding: 8em 5vw;
	font-weight: bold;
	text-align: center;
	background: #000;
	color: #f0f0f0;
}

.content--related a:hover {
	color: #fff;
}

.content--related h2 {
	font-size: 1.25em;
}

.content--related .demos {
	padding-bottom: 3em;
}

.media-item {
	display: inline-block;
	padding: 1em;
	vertical-align: top;
	transition: color 0.3s;
}

.media-item__img {
	max-width: 100%;
	opacity: 0.8;
	transition: opacity 0.3s;
}

.media-item:hover .media-item__img,
.media-item:focus .media-item__img {
	opacity: 1;
}

.media-item__title {
	font-size: 1em;
	margin: 0;
	padding: 0.5em;
}


/*  about services grid   */
.gridd {

	position: relative;
	right:2%;
    display: flex;
}

.grid__item11{
	margin-top:3%;
	width:40%;
	margin-left:10px;
	 border: 1px solid #D2D2D2;
    position: relative;
    color: inherit;
    background: #ffffff;
    min-height: 350px;
    cursor: pointer;
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center;
}
.gridd a{ outline: none;
    color: #5A5A5A;
    text-decoration: none;}

.gridd a:hover{
    color: #333;
    outline: none; 
   border: 2px solid #59daa4; 
} 
.title--preview {
    -webkit-flex: 1;
    flex: 1;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    width: 100%;
}
input[type="button"]{
	background:#e90363;
}
.content1{
	margin-top:0%;
	margin-bottom:5%;
}
.about {
   margin-top:0%;
	position: relative;
	right:2%;
	left:1%;
    display: flex;
	bottom: 10%;
}

.about a{ outline: none;
    color: #5A5A5A;
    text-decoration: none;}

.about a:hover{
    color: #333;
    outline: none; 
   
} 
.grid__about {
	margin-top:1px;
	margin-bottom: 10%;
	width:100%;
	margin-left:30px;
   margin-right: 50px;
    position: relative;
    color: inherit;   
  height:450px;
  background:#e1e1e1; 
    cursor: pointer;
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center;
}
.grid__about h3{

	padding-top:18%;
    font-size: 1em;
    padding-left:10px;
    padding-right: 10px;
    font-family: "Playfair Display", serif;
    text-align: center;
}
.grid__about p{
	margin-bottom: 2%;
	padding-top:2px;
    font-size: 1em;
    padding-left:10px;
    padding-right: 10px;
    font-family: "Playfair Display", serif;
    text-align: center;
}
.loader1 {	
    width:150px;
	height:200px;
    left:35%;
    top:21%;
    position: relative;
}
.meta__avatar1 {
	width:150px;
	height:200px;
	 bottom:0%;
	 
}
.loader2 {	
    width:150px;
	height:200px;
    left:38%;
    bottom:20%;
    position: relative;
}
.meta__avatar2 {
	margin-top:10px;
	width:150px;
	height:200px;
	 
}
.title {
    margin-bottom: 2%;
    font-size: 1.3em;
    font-family: "Playfair Display", serif;
    text-align: center;
} 

.loader {	
    width:60px;
	height:60px;
    left:40%;
    position: relative;
}
.meta__avatar {
	width:50px;
	height:50px;
	 bottom:35%;
}

.meta__date {
    margin-bottom:20% ;
    position: relative;
    font-size: 0.95em;
    font-style: italic;
    font-family: "Playfair Display", serif;
    text-align: center;
    display: block;
    }
.add{
	 margin-top:3%;
	width:40%;
	margin-left:10px;
	 border: 1px solid #D2D2D2;
    position: relative;
    color: inherit;
    background: #ffffff;
    min-height: 350px;
    cursor: pointer;
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center;
}
.gridd .add{ outline: none;
    color: #5A5A5A;
    text-decoration: none;}

.gridd .add:hover{
    color: #333;
    outline: none; 
   border: 2px solid #59daa4; 
} 
.add .meta__date {
    margin-bottom:10% ;
    position: relative;
    font-size: 0.95em;
    font-style: italic;
    font-family: "Playfair Display", serif;
    text-align: center;
    display: block;
    }
input[type="button"]{
 margin-bottom:10px;
 	height:29px;
 	width: 100px;
 	margin-left:90px;
    }
 input[type="button"]:hover{
  color: #59daa4;
    outline: none; 
   border: 1px solid #59daa4; 
    }  

.profile {
   font-family: "Playfair Display", serif;
       letter-spacing: .5px;
}
.add_profile{
	    font-size: 1em;
    background-color: #fff;
      overflow: hidden;
      padding: 50px 50px 20px;
   padding-bottom: 40px;
}
.add_profile .tabled-th {
    width: 220px;
    float: left;
    font-family: "COCO",sans-serif;
    font-weight: 700;
   left:5%;
}

.tabled-th img{
	vertical-align: top;
	width: 220px;
    height:200px;


	}
.add_profile .tabled-td {
   width: 700px;
    float: left;
    margin-left:5%;
}
.tabled-td h2{
 font-weight: 700;
   letter-spacing: 1px;
}
 
 .contact{
 	overflow:hidden;
 	width:100%;
 	height:100%;
 }
.add_contact{
	width:80%;
	margin-top:10%;
	margin-left:10%;
	font-weight: 600;
	 border: 1px solid #D2D2D2;
    position: relative;
    background: #ffffff;
    min-height: 300px;
    margin-bottom:10%;
    padding-left:10%;
}
.add_contact a{
	color:#000000;
}
/*.overlay_contact {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #000000;
}
.contact:hover .overlay_contact {
  opacity: 0.93;
}*/
.contact:hover .add_contact {
  opacity: 1;
}

/*.add_profile .tabled_text {
    width: 41.66667%;
    margin-left:60%;
    top:0;
    margin-bottom:30%;
    display: block;
     float: left;
    min-height: 1px;
}*/
label {
    font-family: Graphik,sans-serif;
    font-size: 1.09244rem;
    line-height: 1.15385;
    cursor: inherit;
    margin-bottom:30%;
}
.tabled_text a{
	    position: relative;
    display: inline-block;
    vertical-align: middle;
    padding-bottom: 1px;
    overflow: hidden;
    line-height: 1.3;
}
.tabled_text ul {
    list-style-type: none;
    line-height: 1.6;
}
button{
border: solid;	
}
.add_contact .fa {
  padding: 5px;
  font-size: 10px;
  width: 25px;
  height:25px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
   border-radius: 50%;
}
.add_contact .fa:hover {
    opacity: 0.4;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

 @media screen and (max-width: 1090px) {   


.page{
		overflow: auto;
		height:100;

    padding: 0px; 
	}

	.grid1 {
    margin-top: 13em;
    margin-left: 3em;
    /*grid-template-columns: repeat(var(--grid-columns), 1fr 1fr 1fr 1fr);*/
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    }
	.grid__item2 {
		padding-top:10%;
		width: 40%;
	}

 }
/*@media (max-width: 900px) {    
.container{
		overflow: auto;
		height:100;
	}

	.grid1 {
    margin-top: 13em;
    margin-left: 3em;
   
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    }
	.grid__item2 {
		padding-top:10%;
		width: 40%;
	}
	.gridd {
	    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    /* flex-wrap: wrap; 
    }
    .grid__item11{
	margin-top:3%;
	min-width: 320px;
    min-height: 400px;
  
} 
 .add{
	margin-top:3%;
	min-width: 320px;
    min-height: 400px;
  
} 
input[type="button"]{
 	margin-left:35%;
    }
.title {
    margin-bottom: 2%;
} 

.loader {	
    width:60px;
	height:60px;
    left:40%;
}
.meta__avatar {
	width:50px;
	height:50px;
	 bottom:35%;
}
.meta__date {
    margin-bottom:20% ;
    }
.add_profile{
	width:70%;
	min-height:600px;
}
.add_profile .tabled-td {
    width: 400px;
}
.add_contact{
	margin-top:30%;
}
}*/
@media  (max-width: 576px) {
.page {
     padding: 0px; 
     }	
.content1{
	    position: relative;
    display: block;
}

.about {
	margin-top:20%;
      display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    right:38%;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
   
}
.grid__about{
	margin-top:17%;
	    margin-left:1px;
	        margin-right:0;
	min-width: 300px;
    min-height: 420px;
}
.loader1 {
   
    top: 18%;
    }
	.grid {
		padding: 0 1vw;
	}
	.grid__item {
		padding: 0 2vw;
	}
	.product__bg {
		height: 10em;
	}
	.product__img {
		max-height: 19em;
	}
	.product__title {
		font-size: 1.25em;
	}
	.product__subtitle {
		font-size: 0.75em;
	}
	.grid1 {
    margin-top: 13em;
    margin-left: 3em;
    /*grid-template-columns: repeat(var(--grid-columns), 1fr 1fr 1fr 1fr);*/
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    }
	.grid__item2 {
		padding-top:10%;
		padding-left:10px;
		width: 45%;
	}
	.product__bg1 {
		
	
	}
	.product__img1 {
		
	}
	.product__title1 {
	
	}
	.grid__item2 button{
	height:30px;
	margin-right:10%;
	width:100px;
	background:#e80a63;
	color:#000000;

   }
	.product__subtitle1 {
		font-size: 0.75em;
	}
	.details {
		padding: 30vh 0 5vh 10vw;
	}
	.details__bg--down {
		top: 30vh;
		height: 70vh;
	}
	.details__title {
		font-size: 2em;
	}
	.details__subtitle {
		font-size: 1em;
	}
	.details__price {
		font-size: 1.5em;
	}
	.details__description {
		max-width: 70%;
		font-size: 0.85em;
		margin: 1em 0 0 0;
	}
	.details__deco {
		height: 7px;
		width: 4em;
	}
	.details__img {
		right: -12vh;
	}
	.details__magnifier {
		right: 7vh;
	}
	.codrops-header {
		padding: 1em 4em;
	}
	.codrops-header__title {
		font-weight: bold;
		padding-bottom: 0.25em;
		text-align: center;
		font-size: 1.25em;
	}
	.dummy-menu {
		margin: 1.75em 1.5em 0 0;
	}
	.container{
		overflow: auto;
		height:100;
	}
	.gridd {
	    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    right:0%;
    left:7%;
    margin-top:40%;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    /* flex-wrap: wrap; */
    }

    .add {
       margin-top: 3%;
    margin-left: 15px;
    margin-right: 0;
    min-width: 300px;
    min-height: 400px;
}
.grid__item11{
	margin-top:3%;
	    margin-left:15px;
	        margin-right:0;
	min-width: 300px;
    min-height: 400px;
  
} 


.title {
    margin-bottom: 2%;
} 

.loader {	
    width:60px;
	height:60px;
    left:40%;
}
.meta__avatar {
	width:50px;
	height:50px;
	 bottom:35%;
}
.add .meta__date {
    margin-bottom: 10%;
    position: relative;
    font-size: 0.75em;
    padding-left:5px;
    padding-right:5px;
}
.grid__item11 .meta__date {
    margin-bottom: 10%;
    position: relative;
    font-size: 0.75em;
    padding-left:5px;
    padding-right:5px;
}
.add_contact{
	margin-top:40%;
}
.add_profile{

	padding: 50px 20px 20px;
    margin-bottom: 0;
    margin-top: 25%;

}
.profile {
	width:100%;
  
}
    .add_profile .tabled-th {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
    font-size: 1.5em;
}
.add_profile .tabled-td {
     padding-left: 0;
     width: 100%;
    float: none;
    margin-left: 0%;
}
.add_profile .catch{ text-align: center;
    font-size: 1.2em;}

 .add_profile .text_line {
    margin-bottom: 1em;
}
}
@media  (max-width: 360px) {

	.page {
     padding: 0px; 
     }
	.grid {
		padding: 0 1vw;
	}
	.grid__item {
		padding: 0 2vw;
	}
	.product__bg {
		height: 10em;
	}
	.product__img {
		max-height: 19em;
	}
	.product__title {
		font-size: 1.25em;
	}
	.product__subtitle {
		font-size: 0.75em;
	}
	.grid1 {
    margin-top: 13em;
    margin-left: 3em;
    /*grid-template-columns: repeat(var(--grid-columns), 1fr 1fr 1fr 1fr);*/
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    }
	.grid__item2 {
		padding-top:10%;
		padding-left:10px;
		width: 45%;
	}
	.product__bg1 {
		
	
	}
	.product__img1 {
		
	}
	.product__title1 {
	
	}
	.grid__item2 button{
	height:30px;
	margin-right:10%;
	width:100px;
	background:#e80a63;
	color:#000000;

   }
	.product__subtitle1 {
		font-size: 0.75em;
	}
	.details {
		padding: 30vh 0 5vh 10vw;
	}
	.details__bg--down {
		top: 30vh;
		height: 70vh;
	}
	.details__title {
		font-size: 2em;
	}
	.details__subtitle {
		font-size: 1em;
	}
	.details__price {
		font-size: 1.5em;
	}
	.details__description {
		max-width: 70%;
		font-size: 0.85em;
		margin: 1em 0 0 0;
	}
	.details__deco {
		height: 7px;
		width: 4em;
	}
	.details__img {
		right: -12vh;
	}
	.details__magnifier {
		right: 7vh;
	}
	.codrops-header {
		padding: 1em 4em;
	}
	.codrops-header__title {
		font-weight: bold;
		padding-bottom: 0.25em;
		text-align: center;
		font-size: 1.25em;
	}
	.dummy-menu {
		margin: 1.75em 1.5em 0 0;
	}
	.container{
		overflow: auto;
		height:100;
	}
	.gridd {
	    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    right:58%;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    /* flex-wrap: wrap; */
    }

    .add {
       margin-top: 3%;
    margin-left: 15px;
    margin-right: 0;
    min-width: 300px;
    min-height: 400px;
}
.grid__item11{
	margin-top:3%;
	    margin-left:15px;
	        margin-right:0;
	min-width: 300px;
    min-height: 400px;
  
} 


.title {
    margin-bottom: 2%;
} 

.loader {	
    width:60px;
	height:60px;
    left:40%;
}
.meta__avatar {
	width:50px;
	height:50px;
	 bottom:35%;
}
.meta__date {
    margin-bottom:20% ;
    }


.add_contact{
	margin-top:40%;
}
    .add_profile .tabled-th {

    position: relative;
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
    font-size: 1.5em;
}
.add_profile .tabled-td {
    width: 100%;
    font-size:1em;
    float:none;
    padding-left: 0;
}

.add_profile{

	padding: 50px 20px 20px;
    margin-bottom: 0;
    margin-top: 10%;

}
.profile {
padding:0;
    margin-bottom: 0;
    min-height: 900px;
        width: 100%;
    margin-top: 10px;
     margin-left: 0%;    
    min-height: 400px;
    margin-bottom: 10%;
     padding-left: 0%; 
  

}
}
/*@media screen and (max-width: 60em) {
	.grid {
		padding: 0 1vw;
	}
	.grid__item {
		padding: 0 2vw;
	}
	.product__bg {
		height: 10em;
	}
	.product__img {
		max-height: 19em;
	}
	.product__title {
		font-size: 1.25em;
	}
	.product__subtitle {
		font-size: 0.75em;
	}
	.grid1 {
    margin-top: 13em;
    margin-left: 3em;
    grid-template-columns: repeat(var(--grid-columns), 1fr 1fr 1fr 1fr);
    }
	.grid__item2 {
		padding: 0 1vw;
		width: 50%;
	}
	.product__bg1 {
		height: 16em;
		width:8em;
		right:60%;
		top: 50%;
	
	}
	.product__img1 {
		max-height: 4em;
		margin: 0 auto;
	}
	.product__title1 {
		font-size: .9em;
		padding-top:40px;
	    right:50%;
	    margin: 0.5em 0 0;
	}
	.grid__item2 button{
	height:30px;
	margin-right:10%;
	width:100px;
	background:#e80a63;
	color:#000000;

     }
     .gridd {
	right:2%;
    display: flex;
    }

.grid__item11{
	margin-top:3%;
	width:40%;
	margin-left:10px;
    min-height: 350px;
  
} 


.title {
    margin-bottom: 2%;
} 

.loader {	
    width:60px;
	height:60px;
    left:40%;
}
.meta__avatar {
	width:50px;
	height:50px;
	 bottom:35%;
}
.meta__date {
    margin-bottom:20% ;
    }

}
/*@media screen and (max-width: 767px){

.grid {

	position: relative;
	width: 100%;
	max-width: 1000px;
	display: grid;
	grid-template-columns: repeat(var(--grid-columns), 1fr);
}
.grid__item_1{
padding-right:80px;	

}
.grid__item{
padding-right:50px;	

}
.grid__item:nth-child(odd) .product {
	margin-top: -6em;
}
.product__bg {
    height: 16em;
    width: 20em;
    right:21%;
    background: #f778ab;
    position: relative;
}
.product__img {
    top: 8%;
    left: 40%;
}
}*/